.git/
.idea/
**/__pycache__
venv/
tasks/
src/customer_app.egg-info/

.env.local
.gitignore
.pre-commit-config.yaml
docker-compose.local.yaml
Dockerfile
pyproject.toml
README.md
requirements.local.txt
